@mixin buttonSecondary($color, $bg, $weight, $size) {
  color: $color;
  background-color: $bg;
  font-weight: $weight;
  font-size: $size;
  text-decoration: none;
  outline-offset: 0.125rem;
  display: block;
  padding: 0.75rem 1rem;
  transition: 50ms ease;
}

@mixin buttonBorder($color, $bg, $border, $weight, $size) {
  color: $color;
  background-color: $bg;
  border: 0.125rem solid $border;
  font-weight: $weight;
  font-size: $size;
  border-radius: 0.75em;
  text-decoration: none;
  display: block;
  padding: 0.75rem 1.25rem;
  outline-offset: 0.125rem;
  transition: 50ms ease;
}

@mixin buttonPrimary($color, $bg, $size, $weight) {
  display: block;
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  color: $color;
  background-color: $bg;
  font-size: $size;
  font-weight: $weight;
  text-decoration: none;
  border: 0.125rem solid transparent;
  transition: 50ms ease;

  &:hover {
    color: $bg;
    border: 0.125rem solid $bg;
    background-color: transparent;
  }
}
